.main-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layout. */
    flex      : 1;
    background: #3f51b5;
}

.main-is-mobile .main-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layout. */
    flex      : 1 0 auto;
    background: #3f51b5;
}

.main-sidenav-content {
    background: #ecf0f5;
    margin-top: 140px;
}

.main-sidenav {
    border-radius: 0px 10px 0px 0px !important;
    width        : 230px;
    background   : #ffffff !important;
    box-shadow   : 0 2px 10px -1px rgb(69 90 100 / 30%);
}

.mat-sidenav-content {
    overflow: visible !important;
}

.layout-main-container { max-height: 90vh;
    background: #ecf0f5;
    position  : relative;
    min-height: 78vh;
    z-index   : 10;
}

.layout-content {
    width     : 100%;
    position  : absolute;
    display   : block;
    margin-top: -150px;
    padding   : 25px 25px;
    box-sizing: border-box;
}

.layout-content-value {
    background-color: #ffffff;
    box-shadow      : 0 2px 10px -1px rgb(69 90 100 / 30%);
    border-radius   : 10px !important;
    padding         : 20px;
}


// .toolbar {
//   display: flex;
// }
// .top-navigtaion {
//   margin-left: auto;
// }

// .sidenav-container {
//   background: #ffffff;
//   color: inherit;
//   height: calc(100vh - 64px);
//   .mat-sidenav-content {
//     overflow: hidden;
//   }
// }

// @media screen and (max-width: 600px) {
//   .sidenav-container {
//     height: calc(100vh - 56px);
//   }
// }

// @media screen and (max-width: 860px) {
//   .top-navigtaion {
//     display: none;
//   }
// }