<div [class.main-is-mobile]="mobileQuery.matches">

  <app-layout-header (sideNavToggle)="snav.toggle()"></app-layout-header>

  <mat-sidenav-container class="main-sidenav-container" autosize>

    <mat-sidenav-content class="main-sidenav-content">
      <div class="layout-main-container">
        <div class="layout-content">
          <div style="height: 80px;">
            <h1 style="color: white;">Title</h1>
            <p>
              <a style="color: white;" href="#">Link</a>
            </p>
          </div>
          <div class="layout-content-value">
            <h1>Content</h1>
            <p>Text, Text,Text,Text...</p>
            <p>Text, Text,Text,Text...</p>
            <p>Text, Text,Text,Text...</p>
            <p>Text, Text,Text,Text...</p>
            <p>Text, Text,Text,Text...</p>
          </div>
        </div>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>

    <mat-sidenav class="main-sidenav" #snav [opened]="mobileQuery.matches ? false : true"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <perfect-scrollbar>
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </perfect-scrollbar>
    </mat-sidenav>

  </mat-sidenav-container>

</div>