h1.main-app-name {
    margin-left: 8px;
}

.main-is-mobile .main-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index : 2;
}

// .mat-icon {
//     cursor: pointer;
//     color : white;
// }

// button {
//     background: #3f51b5;
//     border    : 0px;
// }

.top-navigtaion {
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .top-navigtaion {
        display: none;
    }
}