<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">

  <app-layouts-header (sideNavToggle)="snav.toggle()"></app-layouts-header>

  <mat-sidenav-container class="main-sidenav-container" autosize>

    <mat-sidenav-content class="main-sidenav-content">
      <div class="pcoded-content">
        <br>
        <h1>content</h1>
        <p *ngFor="let content of fillerContent">{{content}}</p>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </mat-sidenav-content>

    <mat-sidenav class="main-sidenav" #snav [opened]="mobileQuery.matches ? false : true"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <perfect-scrollbar>
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </perfect-scrollbar>
    </mat-sidenav>

  </mat-sidenav-container>

</div>